html {
  scroll-padding-top: 100px;
}

body {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #CAD7DE;
}

nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background: red;
  border: 3px solid #31342B;
  color: #31342B;
}

nav#navbar img {
  margin-top: -12px;
  margin-left: 25px;
  max-width: 200px;
}

nav#navbar ul {
  margin-top: 20px;
  margin-right: 50px;
  padding: 10px 10px;
  float: right;
}

nav#navbar ul li {
  display: inline;
  list-style: none;
  padding: 10px 40px;
}

nav#navbar ul li a {
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

div#welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

div#welcome-section h1 {
  font-size: 3rem;
  color: #29024F;
  margin-bottom: 0px;
}

div#welcome-section p {
  font-size: 1rem;
  color: #31342B;
}

div#proyectos {
  height: 80vh;
  width: 90vw;
  margin: 25px auto 25px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 3px solid black;
}

div#proyectos div.project-tile {
  height: 30vh;
  width: 30%;
  border: 3px solid blue;
  background: red;
}

div#contact {
  height: 65vh;
  width: 90vw;
  margin: 25px auto 50px auto;
  border: 2px solid black;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

div#contact a#profile-link {
  text-decoration: none;
}

footer {
  height: 15vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #31342B;
  color: #eee;
}

footer div {
  width: 500px;
  margin-left: auto;
  margin-left: auto;
}

footer div p {
  color: #CAD7DE;
}
/*# sourceMappingURL=main.css.map */