@import "menu";

html {
  scroll-padding-top: 100px; 
}

body {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  background: #CAD7DE;
}

nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background: red;
  border: 3px solid #31342B;
  color: #31342B;
  
  img {
    margin-top: -12px;
    margin-left: 25px;
    max-width: 200px;
  }

  ul {
    margin-top: 20px;
    margin-right: 50px;
    padding: 10px 10px;
    float: right;

    li {
      display: inline;
      list-style: none;
      padding: 10px 40px;

      a {
        font-size: 16px;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}

div#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  transition: all 0.5s ease-in-out;

  h1 {
    font-size: 3rem;
    color: #29024F;
    margin-bottom: 0px;
  } 

  p {
    font-size: 1rem;
    color: #31342B;
  }
}

#head-work {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
}

div#proyectos {
  height: 65vh;
  width: 90vw;
  margin: 0px auto 25px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #eee;
  align-items: center;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;
  border: 3px solid black;


  div.project-tile {
    height: 25vh;
    width: 30%;
    border: 3px solid blue;
    background: red;
  }
}

div#contact {
  height: 65vh;
  width: 90vw;
  margin: 25px auto 50px auto;
  border: 2px solid black;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;


  a#profile-link {
    text-decoration: none;
  }

  #picture {
    width: 50%; /* width of container */
    height: auto; /* height of container */
    text-align: center;
    border: 2px solid black;
   
    img {
    width: 100%; /* width of container */
    height: auto; /* height of container */
    max-width: 300px;
    object-fit: cover;
    border-radius: 60%;
    }
  }

  #text-contact {
    width: 40%;
    height: 200px;
    border: 2px solid black;
    p {
      color: darkslateblue;
      font-weight: bold;
      font-size: 18px;
    }
  }
}

#wave {
  margin-top: -260px;
  z-index: -1;
}

footer {
  height: 15vh;
  width: 100vw;
  display: flex;
  margin-top: -10px;
  flex-direction: row;
  align-items: center ;
  justify-content: space-between;
  background: #31342B;
  color: #eee;


  div {
    width: 500px;
    margin-left: auto;
    margin-left: auto;

    p {
      color: #CAD7DE;
    }
  }
}

@media (max-width:800px){
  html {
    scroll-padding-top: 80px; 
  }

  nav#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: red;
    border: 2px solid #31342B;
    color: #31342B;
    
    img {
      height: auto;
      max-width: 200px;
      margin-top: -25px;
      margin-left: auto;
      margin-right: auto;
      display: table-column;
    }
  
    ul {
      display: none;
      top: 40px;
      left: 0px;
      &.open {
        color: black;
        position: absolute;
        background: lightblue;
        width: 100%;
        z-index: 1;
      }
  
      li {
        display: block;
        list-style: none;
        padding: 10px 40px;
        text-align: center;
        &.open {
          border-bottom: 1px solid blue;
        }
  
        a {
          font-size: 16px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;
          &.open {
            border-bottom: 2px solid red;
          }
        }
      }
    }
  }
  
  div#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
    transition: all 0.5s ease-in-out;
  
    h1 {
      font-size: 3rem;
      color: #29024F;
      margin-bottom: 0px;
    } 
  
    p {
      font-size: 1.5rem;
      color: #b10000;
    }
  }


  #head-work {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
  }
  
  div#proyectos {
    height: auto;
    min-height: 100% !important;
    width: 90vw;
    margin: 25px auto 25px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    background: #eee;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
    border: 3px solid black;
  
  
    div.project-tile {
      height: 50vh;
      width: 80vw;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 3px solid blue;
      background: red;
    }
  }

  div#contact {
    height: 80vh;
    width: 90vw;
    margin: 25px auto 50px auto;
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  
  
    a#profile-link {
      text-decoration: none;
    }
  
    #picture {
      width: 50%; /* width of container */
      height: auto; /* height of container */
      text-align: center;
      border: 2px solid black;
     
      img {
      width: 100%; /* width of container */
      height: auto; /* height of container */
      max-width: 300px;
      object-fit: cover;
      border-radius: 60%;
      }
    }
  
    #text-contact {
      width: 80%;
      height: 200px;
      border: 2px solid black;
      p {
        color: darkslateblue;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  #wave {
    margin-top: -150px;
    z-index: -1;
  }

}

// Lo mas importante que aprendi haciendo este proyecto es:
// La utilisacion de los valores vh y vw
// Hacer que los links bajen justo donde yo quiero
// html {
//   scroll-padding-top: 100px; 
// }
// Hacer que mis divs cambien de tamano dinamicamente segun el tamano de su contenido
// height: auto;
// min-height: 100% !important;
// padding-top: 20px;
// padding-bottom: 20px;